body {
	color:#000000;
	background-color:#FFFFFF;
	margin:0;
}

#container {
	background-color:#111111;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}

 img {
	border:none;
	border-radius:50%;
	filter: grayscale(100);
}
div{
	background-color:#111111;
	text-align: center;

	}